@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Space Grotesk", sans-serif;
}

@layer base {
	button:not(:disabled) {
		cursor: pointer;
	}
}